* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

/* CSS for Register */

.card-header {
    background-color: #190482;
    color: aliceblue;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}


.col-md-7 .col-form-label .text-start {
    display: flex;
    align-items: center;
}

.isi_peringatan {
    font-size: 11px;
}


/* CSS for Home */


body {
    background: #1F242D;
    color: aliceblue;
}


.header {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: aliceblue;
    font-weight: bolder;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navigasi a {
    font-size: 18px;
    color: azure;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}


.navigasi a:hover,
.navigasi a.active {
    color: aqua;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content p {
    font-size: 16px;
    text-align: justify;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 5% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content span {
    color: aqua;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-img img {
    max-width: 450px;
    margin-right: -2;
    opacity: 0;
    animation: zoomIn.5s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin: 15px 15px 10px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: aqua;
    color: #1F242D;
    box-shadow: 0 0 20px aqua;
}

.cv {
    display: inline-block;
    padding: 12px 28px;
    background: aqua;
    border-radius: 40px;
    box-shadow: 0 0 10px aqua;
    font-size: 16px;
    color: #1F242D;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;

}


/* Gallery */




/* KEYFRAMES ANIMATION */

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: tscale(0px);
        opacity: 0;
    }

    100% {
        transform: scale(1px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}



@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes floatImage {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* media query */

@media (max-width: 768px) {
    .header {
        padding: 20px 5%;
    }

    .logo {
        font-size: 20px;
    }

    .navigasi a {
        font-size: 16px;
        margin-left: 20px;
    }

    .home {
        flex-direction: column;
        padding: 40px 5% 0;
    }

    .home-content {
        max-width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .home-content h1 {
        font-size: 36px;
        text-align: left;
    }

    .home-content h3 {
        font-size: 24px;
        text-align: left;
    }

    .home-content p {
        font-size: 14px;
        margin: 10px 0;
    }

    .home-img img {
        max-width: 100%;
        margin-top: 20px;
    }

    .social-media a {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .cv {
        padding: 10px 20px;
        font-size: 14px;
        margin-top: 20px;
    }
}